*{
    padding: 0;
    margin: 0;

}
.wrapper{
    width: 1200px;
    height: 700px;
    margin: auto;
    background: #cccccc;

}
.top-header{
    height: 70px;
    width: 100%;
    background: #ffffff;
}
ul > li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}